.button1 {
  border-radius: 20px;
  border: 1px solid #eeeeee;
}
.a a {
  color: black;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  width: 100%;
  text-decoration: none;
}
h6 a {
  text-decoration: none;
  color: black;
}

h6 :hover {
  color: red;
}

@media (min-width: 1280px) {
  #contact {
    display: flex !important;
  }
}

.card-header {
  background-color: #0d6efd;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: #bada55;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
  padding: 10px;
}
.header-content {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  border-top: 2px solid #bada55;
  border-bottom: 2px solid #bada55;
  padding: 0.5rem;
}

h4 {
  animation: doimauchu ease 0.5s infinite;
}
@keyframes doimauchu {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  75% {
    color: green;
  }
}
